<!doctype html>
<html lang='en-GB'>
<head>
  <meta charset='utf-8'>
  <title>Spoke Project</title>

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

  <!-- Load Third Party Libraries in main.js using RequireJS-->

  <!-- My Files -->
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="css/micIcon.css">

</head>
<body>

<div class="container" id="body-container">

  [[[ body ]]]

  [[> footer ]]

</div>  <!-- End of container div -->

</body>
</html>

